body {
    height: 100%;
    background-color: #F2F2F2;
}

.home {
    height: 100vh;
    position: relative;
}

.home__items {
    width: 80%;
    margin: 0 auto;
    padding: 93px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 37px;
}

.clothes__amount {
    padding: 18px 0;
    font-size: 20px;
    font-weight: bold;
    color: #ABAAAA;
    grid-column: 1 / 5;
}

.clothes__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.clothes__image-container {
    position: relative;
    transition: transform .3s;
}

.clothes__image-container:hover {
    transform: scale(1.05);
}

.clothes__image {
    max-width: 100%;
    width: 281px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
}

.clothes__off {
    background-color: #1A1717;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    width: 52px;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.6em;
}

.clothes__title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 19px 0 12px;
    vertical-align: middle;
    flex: 1;
    text-transform: uppercase;
}

.clothes__prices {
    display: flex;
    align-items: center;
}

.clothes__price--regular {
    text-decoration: line-through;
    color: #6B6B6B;
    margin-right: 1em;
}

.clothes__price {
    font-size: 20px;
}

@media (max-width: 768px) {
    .home__items {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .clothes__amount {
        grid-column: 1;
        margin: 0 auto;
    }
}