.product {
    width: 100%;
}

.product__container {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-areas: 
        "image ."
        "image name"
        "image ."
        "image price"
        "image ."
        "image choose"
        "image sizes"
        "image sizes"
        "image ."
}

.product__image {
    grid-area: image;
    height: 400px;
}

.product__name {
    grid-area: name;
    font-size: 1.8em;
    font-weight: bold;
}

.product__prices {
    grid-area: price;
    display: flex;
    align-items: center;
}

.product__price {
    margin-right: 1em;
    font-size: 1.5em;
}

.product__installments {
    margin-right: 1em;
}

.product__choose {
    grid-area: choose;
}

.product__form {
    grid-area: sizes;
    display: flex;
    flex-direction: column;
}

.product__sizes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.size__field {
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 50px;
    width: 60px;
    position: relative;
}

.size__field:not(:last-child) {
    margin-right: 20px;
}

.size__button {
    opacity: 0;
    width: 0;
    height: 0;
}

.size__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    transition: outline .2s;
}

.size__name:hover {
    outline: 2px dashed #21b4d0;
}

.size__button:checked + .size__name {
    outline: 2px solid #21b4d0;
}

.product__save {
    grid-area: button;
    width: 200px;
    padding: 0.8em 2em;
    background: #222;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background .2s;
}

.product__save:hover {
    background: #333;
}

@media(max-width:768px) {
    .product__container {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "image"  "name"  "price"
        "choose" "sizes" "button"
    }

    .product__image {
        height: 240px;
        margin: 0 auto;
    }
    
    .product__name {
        font-size: 1.4em;
        margin: 20px 0;
    }

    .product__choose {
        margin-top: 1em;
    }

    .product__save {
        margin: 20px 0;
    }
}